

<!DOCTYPE HTML>
<html xmlns xmlns:th="http://www.w3.org/1999/xhtml" : th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>2016 굿모닝 경기 소통 크리에이터 공모전</title>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}" >-->
    <link rel="stylesheet" type="text/css" href="/css/general.css" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.scrollTo-min.js"></script>
    <script src="/js/layout.js"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrap">
    <!-- @ CONTAINER -->
    <section id="container" class="sub  new">
        <!-- @ CONTENTS -->
        <div id="contents">
            <!-- @ SUB TITLE AREA -->
            <div class="sub-title-area">
                <h2 class="tit">News & Info </h2>
            </div>
            <div class="btn_area">
                <a href="upload" class="btn_blue_line">글쓰기</a>
            </div>
            <!-- 페이징 처리는 5개씩 해주세요-->
            <table class="news_list">
                <caption>News 리스트</caption>
                <colgroup>
                    <col style="width: 10%">
                    <col style="width: auto">
                    <col style="width: 10%">
                    <col style="width: 10%">
                    <col style="width: 5%">
                    <col style="width: 8%">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회</th>
                    <th scope="col">첨부</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="list :${list.list}">
                        <td>[[${list.boardId}]]</td>
                        <td>
                            <a href="javascript: void(0);" th:myId="${list.boardId}" th:onclick="goViewPage(this.getAttribute('myId'));">
                                [[${list.title}]]
                            </a>
                        </td>
                        <td>[[${list.name}]]</td>
                        <td>[[${list.name}]]</td>
                        <td>[[${list.read}]]</td>
                        <td class="board_file"><span class="file_icon">파일다운로드</span>
                    </tr>
                </tbody>
                <tbody id="list">

                </tbody>
            </table>

            <div class="pagination">

            </div>
            <div class="find_wrap">
                <form id="searchForm" class="form-horizontal" onsubmit="return false;" autocomplete="off">
                <select name="searchType" id="searchType">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" name="keyword" id="keyword"  title="keyword" placeholder="검색어 입력">
                <a href="#" onclick="movePage(1);"  class="btn_gray">검색</a>
                </form>
            </div>
        </div>
        <!-- CONTENTS @ -->
    </section>
    <!-- CONTAINER @ -->
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    window.onload = () => {
        setQueryStringParams();
        findAllPost();
    }
    function setQueryStringParams() {

        if ( !location.search ) {
            return false;
        }

        const form = document.getElementById('searchForm');

        new URLSearchParams(location.search).forEach((value, key) => {
            if (form[key]) {
                form[key].value = value;
            }
        })

        document.getElementById('keyword').value = form.keyword.value;
    }

    // 게시글 상세 페이지로 이동
    function goViewPage(id) {
        const queryString = (location.search) ? location.search + `&boardId=${id}` : `?boardId=${id}`;
        location.href = '/board/view' + queryString;
    }




    // 게시글 리스트 조회
    function findAllPost() {

        const list = [[ ${list.list} ]];
        if ( !list.length ) {
            document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
            drawPage();
        }

        const paging = [[ ${list.paging} ]];
        const pagination = [[ ${pagination} ]];
        let num = paging.totalRecordCount - ((pagination.curPage - 1) * pagination.recordSize);


        drawPage(paging, pagination);
    }


    // 페이지 HTML draw
    function drawPage(paging, pagination) {

        if ( !paging || !pagination ) {
            document.querySelector('.paging').innerHTML = '';
            throw new Error('Missing required parameters...');
        }

        let html = '';

        // 첫 페이지, 이전 페이지
        if (paging.existPrevPage) {
            html += `
            <a href="javascript:void(0);" onclick="movePage(1)" class="prev end">첫 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${paging.startPage - 1})" class="prev">이전 페이지</a>
        `;
        }

        // 페이지 번호
        html += '';
        for (let i = paging.startPage; i <= paging.endPage; i++) {
            html += (i !== pagination.curPage)
                ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                : `<a class="on">${i}</a>`
        }
        html += '';

        // 다음 페이지, 마지막 페이지
        if (paging.existNextPage) {
            html += `
            <a href="javascript:void(0);" onclick="movePage(${paging.endPage + 1});" class="next">다음 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${paging.totalPageCount});" class="next end">마지막 페이지</a>
        `;
        }

        document.querySelector('.pagination').innerHTML = html;
    }


    // 페이지 이동
    function movePage(curPage) {

        const form = document.getElementById('searchForm');
        const queryParams = {
            curPage: (curPage) ? curPage : 1,
            recordSize: 5,
            pageSize: 5,
            keyword: form.keyword.value,
            searchType: form.searchType.value
        }
        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }

    /*]]>*/
</script>

</body>
</html>